@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

body{
    background-color: #545454;
}
.header_superior{
    background-color: black;
    display: flex;
    height: 3.938rem;
    flex-direction: row;
    justify-content: space-evenly;
}

.navigation{
    background-color: #FFC700;
    height: 3.938rem;
 
}

.navigation_topics{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    background-color: transparent;
    justify-content: space-evenly;
    margin-left: 10%;
    align-items: center;

}
.logo_container{
    background-color: #ffff;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10%;
}

.logo_img{
    height: 3.188rem;
    width: 6.875rem;
}

.link_nav{
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
}

.link_nav:hover{
    color: black;
}

.header_superior-content{
    display: flex;
    height: 100%;
    width: 10%;
    justify-content: space-between;
    margin-left: 1rem;
    align-items: center;
}

.header_superior-content2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
    width: 10%;
    margin-left: 1rem;
    
}

.text_header-superior{
    color: #ffff;
    font-size: 1rem;
    margin-left: 3rem;
    font-family: 'Inter', sans-serif;
}

.title_header-superior{
    color: #ffff;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.text_header-superior-phone{
    color: #ffff;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}

.header_superior-content-phone{
    display: flex;
    height: 100%;
    width: 20%;
    justify-content: space-between;
    margin-left: 1rem;
    align-items: center;
}