.footer_content{
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
}

.footer{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    margin-top: 2rem;
}